/* StylishLoader.css */
.loader-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.loader {
  display: flex;
  justify-content: space-between;
  width: 80px; /* Adjust the width to fit the loader circles */
}

.loader-circle {
  width: 15px;
  height: 15px;
  border-radius: 50%;
  background-color: #3498db;
  animation: bounce 1.4s infinite ease-in-out;
}

.circle1 {
  background-color: #e74c3c;
  animation-delay: -0.32s;
}

.circle2 {
  background-color: #f1c40f;
  animation-delay: -0.16s;
}

.circle3 {
  background-color: #2ecc71;
  animation-delay: 0s;
}

.circle4 {
  background-color: #9b59b6;
  animation-delay: 0.16s;
}

@keyframes bounce {
  0%, 80%, 100% {
    transform: scale(0);
  }
  40% {
    transform: scale(1);
  }
}
